---
import Layout from '../../layouts/Layout.astro';
import Back from '../../components/Back.astro';
import Footer from '../../components/Footer.astro';

const info50=["Km", "Días", "Provincias"]
---

<Layout title="Acerca del Proyecto 50-50-50">
  <main class="min-h-screen bg-black p-8 w-full flex flex-col items-center gap-10">
    <header class="w-full flex justify-between items-start">
      <aside class="flex flex-col gap-2 max-w-[70%]">
        <h1 class="text-2xl md:text-4xl font-bold text-white">Información</h1>
        <h2 class="text-md md:text-lg text-white/50">Acerca del Proyecto 50-50-50</h2>
        
        <p class="mt-4 text-white/40">Plataforma no oficial creada por <a class="text-[#F59E0B] hover:underline" href="https://x.com/chiriite_SD" target="_blank">@chiriite_SD</a></p>
      </aside>
      <Back />
    </header>

    <div class="group flex flex-col gap-4 bg-white/5 border border-white/10 p-4 md:p-8 rounded-lg w-full min-h-[240px] md:min-h-[320px] relative mt-4 hover:scale-[1.01] hover:shadow-[0_0_50px_rgba(255,140,0,0.1)] transition-all duration-500">
      <p class="text-sm md:text-md text-white/60 pr-48 md:pr-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
      <img src="/images/presentation.png" alt="Presentación" class="absolute bottom-0 right-0 md:right-12 w-auto h-[30vh] md:h-[60vh]">
    </div>

    <div class="grid grid-cols-3 gap-4 w-full">
      {info50.map((item) => (
        <div class="group flex flex-col items-center justify-center border border-white/10 p-4 rounded-lg bg-white/5 hover:bg-[#F59E0B] transition-all duration-500 hover:scale-[1.02] cursor-pointer">
          <h2 class="text-8xl font-bold text-white text-[#F59E0B] group-hover:text-black">50</h2>
          <h3 class="text-lg text-white/40 group-hover:text-black">{item}</h3>
        </div>
      ))}
    </div>

    <div class="flex flex-col gap-4 w-full">
      <h2 class="text-4xl font-bold text-white text-center">Dona</h2>
      <p class="text-white/40">
        El Proyecto 50-50-50 es un proyecto de carácter personal que consiste en recorrer 50 kilómetros en 50 días en 50 provincias de España.
      </p>
      <a href="https://www.migranodearena.org/reto/proyecto-50-50-50-50-d-as-50-kil-metros-50-provincias-espa-olas" class=" border border-white/10 p-4 rounded-lg text-black bg-[#F59E0B] text-center text-md md:text-lg transition-all duration-500 hover:scale-[1.02]">
        Dona aquí
      </a>
    </div>
  </main>
  
  <Footer />
</Layout>

<style>
  /* Mobile optimizations */
  @media (max-width: 768px) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
    h1 {
      font-size: 2.5rem;
    }
    
    h2 {
      font-size: 2rem;
    }
    
    .prose p {
      font-size: 1rem;
    }
  }
</style>