<footer class="w-full mb-10 mt-2 bg-black">
    <div class="max-w-4xl mx-auto px-8 pb-8 flex flex-row items-center justify-center gap-4">
      <span class="text-white/60 text-sm">Proyecto 50-50-50</span>
      <span class="text-white/20">|</span>
      <a 
        href="https://www.instagram.com/pitufollow/" 
        target="_blank" 
        class="text-white/40 hover:text-[#F59E0B] transition-colors duration-300 text-sm"
      >
        @pitufollow
      </a>
      <span class="text-white/20">|</span>
      <a 
        href="https://www.migranodearena.org/reto/proyecto-50-50-50-50-d-as-50-kil-metros-50-provincias-espa-olas" 
        target="_blank"
        class="text-[#F59E0B] hover:text-[#F59E0B]/80 transition-colors duration-300 text-sm font-medium"
      >
        Donar
      </a>
    </div>
</footer>